<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
    <ion-list>

      <ion-item>
        <ion-icon name="person" item-left></ion-icon>
        <ion-label fixed>Contact No.</ion-label>
        <ion-input type="text" formControlName="contactNo" ></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(contactNo.dirty || submitAttempt) && !contactNo.valid">
        <p *ngIf="contactNo.hasError('required')" style="color: red">Contact No. is required.</p>
        <p *ngIf="contactNo.hasError('pattern')" style="color: red">Contact No. is invalid.</p>
      </ion-item>

      <ion-item>
        <ion-icon name="unlock" item-left></ion-icon>
        <ion-label fixed>Password</ion-label>
        <ion-input type="password" formControlName="password" ></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(password.dirty || submitAttempt) && !password.valid">
        <p style="color: red">Password is required.</p>
      </ion-item>

    </ion-list>

    <button type="button" ion-button clear (click)="onRegister()">Register</button>

    <button type="submit" ion-button full>Log In</button>
  </form>
</ion-content>