<ion-header>

  <ion-navbar color="primary">
    <ion-toolbar>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span>Cancel</span>
        </button>
      </ion-buttons>
      <ion-title>Register</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <form [formGroup]="registerForm" novalidate>

      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input [class.invalid]="(name.dirty || submitAttempt) && !name.valid" formControlName="name"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(name.dirty || submitAttempt) && !name.valid">
        <p>Please enter a valid name.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Contact No.</ion-label>
        <ion-input [class.invalid]="(contact.dirty || submitAttempt) && !contact.valid" formControlName="contact"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(contact.dirty || submitAttempt) && !contact.valid">
        <p>Please enter a valid Contact No.</p>
      </ion-item>


      <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [class.invalid]="(password.dirty || submitAttempt) && !password.valid" formControlName="password"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(password.dirty || submitAttempt) && !password.valid">
        <p>Please enter a valid password.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Confirm Password</ion-label>
        <ion-input [class.invalid]="(confirmPassword.dirty || submitAttempt) && (!confirmPassword.valid || !isSameAsPassword())"
          formControlName="confirmPassword"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(confirmPassword.dirty || submitAttempt) && !confirmPassword.valid">
        <p>Please enter a valid password.</p>
      </ion-item>
      <ion-item no-lines *ngIf="(confirmPassword.dirty || submitAttempt) && !isSameAsPassword()">
        <p>Passwords don't match</p>
      </ion-item>


      <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [class.invalid]="(email.dirty || submitAttempt) && !email.valid" formControlName="email"></ion-input>
      </ion-item>
      <ion-item no-lines *ngIf="(email.dirty || submitAttempt) && !email.valid">
        <p>Please enter a valid email.</p>
      </ion-item>

      <ion-item>
        <ion-label floating>Address</ion-label>
        <ion-textarea [class.invalid]="(address.dirty || submitAttempt) && !address.valid" formControlName="address"></ion-textarea>
      </ion-item>

      <button ion-button full (click)="onSubmit()">Register</button>
    </form>
  </ion-list>

</ion-content>