<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Product</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="product">

  <ion-item>
    <!-- <ion-avatar item-start> -->
      <img item-start style="height: 70px;width: 70px" [src]="product.img">
    <!-- </ion-avatar> -->
    <h3>
      <b>Model : </b>{{product.name}}</h3>
    <h3>
      <b>Category : </b>{{product.category}}
    </h3>
    <h3>
      <b>Reg Date : </b>{{product.regDate}}</h3>
    <h3>
      <b>MRP : </b>{{product.mrp}}</h3>

  </ion-item>

<ion-card text-center padding>

  <h4 *ngIf="product.status==='NotScheduled'"><b>Not Scheduled For Installation</b></h4>
  <h4 *ngIf="product.status==='Scheduled'"><b>Scheduled For Installation</b></h4>
  <h4 *ngIf="product.status==='Installed'"><b>Installation Complete</b></h4>
  <h4 *ngIf="product.status==='ProblemInInstallation'"><b>Problem in Installing Product</b></h4>

  <button ion-button small *ngIf="product.status==='Scheduled'">Escalate</button>
  <button ion-button small *ngIf="product.status==='Installed'">Feedback</button>
  <button ion-button small *ngIf="product.status==='ProblemInInstallation'">View Details</button>

</ion-card>

  <ion-list>
    <ion-list-header>Dealer Details</ion-list-header>
    <ion-item>
      <ion-icon item-start name="checkmark-circle"></ion-icon>
      <ion-label>Name : </ion-label>
      <p item-end>{{product.dealer.name}}</p>
    </ion-item>
    <ion-item>
        <ion-icon item-start name="checkmark-circle"></ion-icon>
        <ion-label>Address : </ion-label>
        <p item-end>{{product.dealer.address}}</p>
      </ion-item>
      <ion-item>
          <ion-icon item-start name="checkmark-circle"></ion-icon>
          <ion-label>Phone : </ion-label>
          <p item-end>{{product.dealer.phone}}</p>
        </ion-item>
  </ion-list>

  <button ion-button full (click)="openReportIncidentPage()">Report Incident</button>

</div>



</ion-content>