<!--
  Generated template for the AddProductPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-toolbar>
      <ion-buttons item-left>
        <button ion-button (click)="dismiss()">
          <span>Cancel</span>
        </button>
      </ion-buttons>
      <ion-title>Add Product</ion-title>
    </ion-toolbar>
  </ion-navbar>

</ion-header>


<ion-content>

  <div text-center padding>
    <img src="https://www.iconshock.com/image/Stroke/Computer_gadgets/barcode_scanner" class="status-image center-block"/>
    <button ion-button round (click)="openScanner()">
      Scan Code
    </button>

    <h2 color="light">OR</h2>

  </div>

  <ion-card>
    <ion-list-header>
      Add product
    </ion-list-header>
    <ion-item>
      <ion-label>Select Brand</ion-label>
      <ion-select>
        <ion-option *ngFor="let b of brands" [value]="b">{{b}}</ion-option>
      </ion-select>
    </ion-item>
  

  
    <ion-item>
      <ion-label>Select Category</ion-label>
      <ion-select>
        <ion-option *ngFor="let c of categories" [value]="c">{{c}}</ion-option>
      </ion-select>
    </ion-item>
  

  
    <ion-item>
      <ion-label>Select Model</ion-label>
      <ion-select>
        <ion-option *ngFor="let m of models" [value]="m">{{m}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card>

      <ion-list-header>
          Registration details
        </ion-list-header>
        <ion-item>
            <ion-label>Registration No.</ion-label>
            <ion-input></ion-input>
          </ion-item>
    <ion-item>
      <ion-label>Purchase Date</ion-label>
      <ion-datetime displayFormat="MMM DD, YYYY" pickerFormat="MMM DD, YYYY"></ion-datetime>
    </ion-item>
  


    <ion-item>
      <ion-label>Warranty</ion-label>
      <ion-select>
        <ion-option value="6 months">6 months</ion-option>
        <ion-option value="1 years">1 years</ion-option>
        <ion-option value="2 years">2 years</ion-option>
        <ion-option value="3 years">3 years</ion-option>
        <ion-option value="5 years">5 years</ion-option>
      </ion-select>
    </ion-item>
  

  

  </ion-card> 

  <ion-card>
      <ion-list-header>
          Owner Details
        </ion-list-header>

    <ion-item>
      <ion-label stacked>Buyer Name</ion-label>
      <ion-input placeholder='Optional'></ion-input>
    </ion-item> 

  
    <ion-item>
      <ion-label stacked>Dealer Name</ion-label>
      <ion-input placeholder='Optional'></ion-input>
    </ion-item>
  

  
    <ion-item>
      <ion-label stacked>Address</ion-label>
      <ion-input placeholder='Optional'></ion-input>
    </ion-item>
  </ion-card>

  <button ion-button full (click)="onProductAdd()">Continue</button>

</ion-content>